# Build output
/build/
/Build/
/out/
*.apx
*.bundle/
*.dylib
*.dll
*.pdb
*.ilk
*.obj
*.o

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json

# IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/

# OS
.DS_Store
Thumbs.db
